{% extends 'partials/base.html' %} 

{% block title %}Carte{% endblock %} 

{% block content %}
<div class="container">
    <div class="row mt-4">
      <div class="col-md-10 offset-md-1">{{ map|safe }}</div>
    </div>
    <div class="row mt-4">
      <div class="col-md-10 offset-md-1">
        <form method="get" action="{% url 'map' %}">
          <button type="submit" name="refresh" class="btn btn-primary">Rafraîchir les données</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
